.text-xs {
    font-size: 12px;
    line-height: 1rem;
}

.text-sm {
    font-size: 14px;
    line-height: 1.25rem;
}

.text-base {
    font-size: 16px;
    line-height: 1.50rem;
}

.text-lg {
    font-size: 18px;
    line-height: 1.75rem;
}

.text-xl {
    font-size: 20px;
    line-height: 1.75rem;
}

.text-2xl {
    font-size: 24px;
    line-height: 2rem;
}