.main-info {
    margin: 8rem 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    p{
        line-height: 3rem;
    }
}

.main-info_img {
    max-width: 100%;
    margin: 0 0 0 2rem;
    img {
        max-width: 100%;
    }
}

.main-info_data {
    font-weight: 700;
    margin: 0 2rem;
}