.footer {
    background-color: #f0f0f0;
    padding: 2rem;

    .footer-container {
        max-width: 1280px;
        margin: 1rem auto;

        .footer-container_social {
            display: grid;
            grid-template-columns: 3fr 1fr;

            .social-logos {
                display: flex;
                gap: 2rem;
                padding: 0 1rem;
            }

            .social-number {
                display: flex;
                margin-left: auto;
                gap: 1rem;
                padding: 0 1rem;

                p {
                    font-weight: 600;
                    color: #767676;
                }
            }
        }

        .footer-container_bar {
            margin-top: 2rem;
            width: 100%;
            height: 1px;
            border-bottom: .5px #898989 solid;
        }

        .footer-container_content {
            margin-top: 4rem;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            
            h2 {
                color: #767676;
                text-align: center;
            }

            .content-copy {
                margin-top: 1rem;
            }
        }
    }
}