.navbar {
    color: rgb(111, 111, 111);
    padding: 1.5rem 2rem;
}

.navbar-container {
    display: flex;
}

.navbar-container_links {
    display: flex;
    gap: 1rem;
    margin-left: auto;
    font-weight: 600;
}

.navbar-container_links li {
    transition: 0.5s;
    &:hover {
        transition: 0.5s;
        font-size: 15px;
        cursor: pointer;
    }
}

.navbar-container_title {
    transition: 0.5s;
    &:hover {
        cursor: pointer;
        transition: 0.5s;
        color: rgb(0, 0, 0);
    }
}