.navbar {
    color: rgb(141, 141, 141);
    background-color: white;
    position: fixed;
    width: 100%;
    z-index: 10;
    transition: 10ms;
}

.navbar-nav_shadow {
    transition: 10ms;
    box-shadow: 2px 17px 38px -38px rgba(0,0,0,0.72);
} 

.navbar-container {
    display: flex;
    max-width: 1280px;
    margin: 2rem auto;
    padding: 0 4rem;
}

.navbar-container_links {
    display: flex;
    gap: 1rem;
    margin-left: auto;
    font-weight: 600;
}

.navbar-container_links li {
    transition: 0.5s;
    &:hover {
        transition: 0.5s;
        font-size: 15px;
        cursor: pointer;
    }
}

.navbar-container_title {
    transition: 0.5s;
    &:hover {
        cursor: pointer;
        transition: 0.5s;
        color: rgb(0, 0, 0);
    }
}