.cards {
    display: -webkit-box;
    gap: 1rem;
    width: 50%;
    height: 70vh;
    position: absolute;
    right: 0;
    margin-top: 3rem;
    overflow-x: scroll;
    overscroll-behavior-x: contain;
    scroll-snap-type: x proximity;
    color: black;
    &::-webkit-scrollbar {
        overflow-x: hidden;
    }
}

.card {
    background-color: white;
    width: 300px;
    height: 25rem;
    padding: 1rem;
    // animation: translate 1s ease-in;
    border-radius: 16px;
}

#rigth {
    position: absolute;
    right: 1rem;
    padding: 10px;
    border-radius: 9999px;
}

@keyframes translate {
    from {
        transform: translateY(40%);
    }
    to {
        transform: translateY(0%);
    }
}