@import '../../global/mixins.scss';

.cards {
  display: -webkit-box;
  gap: 1rem;
  height: 85vh;
  right: 0;
  overflow-x: scroll;
  overscroll-behavior-x: contain;
  scroll-snap-type: x proximity;
  color: black;
  z-index: 0;

  &::-webkit-scrollbar {
    overflow-x: hidden;
  }

  .card {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    #title {
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 100%;
      color: white;
      transition: 0.5s;
      opacity: 1;
      background-color: rgba(0, 0, 0, 0.509);
      cursor: pointer;

      &:hover {
        transition: .5s;
        opacity: 0;
      }
    }
  }
}

#right,
#left {
  position: absolute;
  top: 2.5rem;
  transform: translateY(44vh);
  // background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

#right {
  right: 0.2rem;
}

#left {
  left: 0.2rem;
}


@keyframes init {
  from {
    height: 0;
  }

  to {
    height: 85vh;
  }
}

@include mixin(xl) {
  #rigth {
    right: 1rem;
  }

  #left {
    left: 1rem;
  }
}