// @import '../../global/mixins.scss' mixin;

.header {
    margin-top: 2rem;
}

@mixin mixin($size) {
    @if $size == sm {
      @media (max-width: 599px) { @content; }
    } @else if $size == md {
      @media (min-width: 600px) { @content; }
    } @else if $size == lg{
      @media (min-width: 900px) { @content; }
    } @else if $size == xl {
      @media (min-width: 1200px) { @content; }
    } @else if $size == 2xl {
      @media (min-width: 1800px) { @content; }
    }
  }

@include mixin(sm) {
    .header {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}